@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

#topLeftLargeText {
  font-family: Rubik;
  font-size: 2.5rem;
  font-weight: bolder;
  margin-left: 1rem;
  margin-top: 0.8rem;
}

#info {
  position: absolute;
  font-family: Rubik;
  margin-left: 1rem;
  bottom: 0;
  left: 0;
}

#musicBool {
  right: 0;
  position: absolute;
  margin-right: 1.1rem;
  size: 2rem;
  font-size: 1.5rem;
}
